<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
  <div class=" col-12 col-lg-6">
    <img src="/img/" width="607" height="510" class=d-block mx-lg-auto img-fluid Loading="lazy" alt="Recipe Repo">
  </div>
  
  <div class=" col-12 col-lg-6">
    <h1 class="display-5 fw-bold mb-3">The repo for your recipes</h1>
      <p class="lead">Explore our amazing selection of user-submitted recipe ideas!</p>

      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore our latest recipes</a>
        <a href="/random-recipes" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Random recipes</a>
      </div>
  </div>

</div>

