<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Submit Your Recipe</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead">Share your recipes with people around the world!</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-8">
    <!-- multipart-form -->
    <form action="/submit-recipe" enctype="multipart/form-data" method="POST">

      <div class="row g-3">

        
        <div class="col-12">
          <label for="name" class="form-label">Recipe Name</label>
          <input type="text" name="name" id="name">
        </div>
        
        <div class="col-12">
          <label for="description" class="form-label">Description</label>
          <textarea name="description" id="description" cols="30" rows="4"></textarea>
        </div>

        <div class="col-12">
          <label for="ingredients" class="form-label">Ingredients</label>
          <small>Example: 1/2 Cup Sugar</small>
          <input type="text" name="Ingredients">
        </div>

        <div class="col-12">
          <button type="button" class="btn btn-outline-primary" id="addIngredientsBtn">+ Ingredient</button>
        </div>
        
        <div class="col-12">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" id="email">
        </div>

      </div>

    </form>
  </div>
</div>